{% extends 'layout.html' %}

{% block content %}

<article>
    <form action="">
      <div class="horizontal-form">
        <input style="width: 100px;" type="number" name="pin" value="{{pin}}" />
        <button type="submit">Submit</button>
      </div>
      {% if pinError %}
        <span class="input-error">{{pinError}}</span>
      {% endif %}
    </form>
</article>

{% if famous.length > 0 %}
<section>
  <h2>Your pin matches with a famous person!</h2>
  <div class="famous-list">
    {% for person in famous %}
      <div class="famous-list-item">
        <div>
          <code class="word-pair">{{person.name | title}}</code>
        </div>
        <div>
          <code class="word-pair">{{person.name | wordhint(pin)}}</code>
        </div>
        <a href="https://en.wikipedia.org/?curid={{person.wikiID}}">Learn more about this person</a>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% if commonNoun %}
<section class="common-noun-section">
  <h2>Word pair for your PIN: </h2>
  <div>
    <code class="word-pair">{{commonNoun | title}}</code>
  </div>
  <div>
    <code class="word-pair">{{commonNoun | wordhint(pin)}}</code>
  </div>

  {% include 'alphabets.html' %}
</section>
{% endif %}
{% endblock %}
