{% extends 'layout.html' %}

{% block content %}

{% if commonNoun %}
  <h1>Common Nouns for your PIN</h1>
  <h3>{{commonNoun | title}}</h3>
{% endif %}

{% if famous.length > 0 %}
  <h1>Your pin matches with a famous person!</h1>
  <div class="famous-list">
    {% for person in famous %}
      <div class="famous-list-item">
        <h3>{{person.name | title}}</h3>
        <p>{{person.intro}}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div>
    <form action="">
      <input type="number" name="pin" value="{{pin}}" />
      <button type="submit">Submit</button>
    </form>
</div>

<article>
  <h2>How it works</h2>
  <p>Use the first and last letter of both words and then using the chart below you can map them to numbers.</p>
  <p>
    For example in the word <strong>M</strong>ovi<strong>e</strong> <strong>N</strong>igh<strong>t</strong>,
    characters <strong>m,e,n,t</strong> correspond to numbers <strong>5157</strong>
  </p>

  <table>
    <thead>
      <tr>
        <th>Character</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      {% for alphabet in alphabetsMap %}
        <tr>
          <td>{{alphabet.key}}</td>
          <td>{{alphabet.value}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}
