<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Numbo - Remember pins easily!</title>

        <!-- Marx CSS -->
        <link rel="stylesheet" href="/public/marx.min.css">
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <main>
            <!-- Navigation -->
            <header><h3>Numbo - <small>Remember your pins easily!</small></h3></header>
            <article>
                {% block content %}
                    Default content -- should not show up!
                {% endblock %}
            </article>
            <footer>
                <p>
                    We do not store any entered pin and have no third-party analytics on this site.
                    Your generated pin is safe.
                </p>
            </footer>
        </main>
    </body>
</html>
